body {
	margin-top: 80px;
}

comment-content img, .entry-content img, .widget img {
	max-width: 100%
}

img[class*=align], img[class*=wp-image-] {
	height: auto;
}
img.size-full {
	max-width: 100%;
	width: auto;
}

img.wp-post-image {
	max-width: 100%;
	height: auto;
}

p {
	font-family: $font-family-serif;
	font-size: 1.3em;
}

button, input {
	-webkit-appearance: none;
	-webkit-border-radius:0;
	border-radius:0;
	//background: white;
	//border: none;
}
button {
	background:#324b72;
	color: white;
	max-width: 120px;
}

.admin-bar .navbar {
	margin-top: 30px;
}

// Modal style

.modal-dialog {
	max-width: 450px;
}

.modal-content {
margin-top: 5em;
	@media(min-width:$screen-sm){
	margin-top: 20em;
	}
	h4 {
		text-align: center;
		font-size: 1.6em;
		text-transform: uppercase;
		color: $brand-primary;
		font-weight: 800;
	}
}

#IDX-widgetLeadLoginHeader {
	display: none;
}

#IDX-widgetEmail-label {
	font-size: 1.4em;
	text-align: center;
	width: 100%;
	font-weight: 400;
}

#IDX-widgetLeadLoginSubmit {
	background: $brand-primary;
	color: white;
	border: none;
	padding: 0.5em;
	font-size: 1.25em;
	margin: 0.5em 0 1em 0;
	-webkit-appearance: none;
	-webkit-border-radius:0;
	border-radius:0;
	border: none;
}
