body {
	margin-top: 80px;
}

comment-content img, .entry-content img, .widget img {
	max-width: 100%
}

img[class*=align], img[class*=wp-image-] {
	height: auto;
}
img.size-full {
	max-width: 100%;
	width: auto;
}

img.wp-post-image {
	max-width: 100%;
	height: auto;
}

p {
	font-family: $font-family-serif;
	font-size: 1.3em;
}

