.content-info {
	margin-bottom: 0;
	border-top: 10px solid #eaeaea;
	font-size: 1.1em;
	p{
		font-size: 1.1em;
	}

	h3 {
		padding-top: 1.2em;
		letter-spacing: .1em;
		//font-weight:500;
		font-size: 1em;
		text-transform: uppercase;
		padding-bottom: .5em;
		border-bottom: 1px solid #c4c4c4;
		//color: $gray-lighter;
	}
	a {
		//color: $gray-lighter;
	}

	a:hover {
		text-decoration: underline;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.widget {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		@media (min-width:768px) {
			float: left;
			width: 50%;
		}

		@media (min-width:992px) {
			float: left;
			width: 25%;
		}

	}

	.legal {
		p{
			font-family: $sans;
			font-weight: 100;
			font-size: 0.8em;
			color: #7c7c7c;
			padding: 4em 0.5em;
			line-height: 1.5em;
			@media (min-width:$screen-sm){
				padding: 4em 2em;
			}
			@media (min-width:$screen-md){
				padding: 4em 7em;
				max-width: 968px;
				margin: 0 auto;
			}
		}

	}

} // ---> /.content-info
