.mobil-number {
	padding-top: 2em;
	a {color: white;}
}

.navbar-brand {
	padding: 20px 0 20px 15px;

	@media (min-width:$screen-sm){
		padding: 11px 0 10px 15px;
	}
	img {
		display: inline-block;
		margin-right: 0;

		@media (max-width:$screen-sm){
			height: 40px;
		}
	}
	.desk {
		height: 57px;
	}

	.jpsh-brand {
		font-family: $font-family-serif;
		color: black;
		font-weight: 100;
		font-size: 0.8em;
	}
}
.navbar-nav>li>a{
	@media (min-width:$screen-sm){
		padding-top: 35px;
	}
}

.navbar-default {
	.navbar-nav>li>a{
		font-size: 1.2em;
		letter-spacing: 0.05em;
		font-weight: 400;
		@media(min-width:$screen-md){
			font-weight: 400;
			font-size: 1.3em;
		}

	}
	.navbar-nav>li>a:focus{

	}
	.navbar-default .navbar-nav>li>a:hover{

	}

}

.navbar-default .navbar-nav>.login {

a{

	padding-top: 1.8em;
}
}
