.mobil-number {
	padding-top: 2em;
	a {color: white;}
}

.navbar-brand {
	padding: 20px 15px;
	//width: 500px;
	@media (min-width:$screen-md){
		padding: 10px 15px;
	}
	img {
		display: inline-block;
	}
	.jpsh-brand {
		font-family: $font-family-serif;
		color: black;
		font-weight: 100;
	}
}

.navbar-default {
	.navbar-nav>li>a{
		font-size: 1.2em;
		letter-spacing: 0.05em;
		font-weight: 400;
		@media(min-width:$screen-md){
			font-weight: 400;
			font-size: 1.3em;
		}

	}
	.navbar-nav>li>a:focus{

	}
	.navbar-default .navbar-nav>li>a:hover{

	}
}
