.buy {
	.main {
		margin: 0;
		padding: 0;
	}
	.buy-header {
		position: relative;

	}

.buy-search{
	position: relative;

	.search-box {
		position: absolute;
		z-index: 1000;
		width: 100%;
		max-width: 260px;
		top: 10px;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		display: inline-block;
		label {
			color: white;
		}
		h2 {
			font-size: 1.4em;
			//background: rgba(255, 255, 255, 0.83);
			margin: 0;
			//max-width: 2490px;
			padding: 0.5em 0em;
			color: #fff;
			text-transform: uppercase;

		}
		@media (min-width:$screen-sm){
			max-width: 500px;
			transition: 1.5s top;
			top: 50%;
			margin-left: 20%;
			input {
				padding-left: 1em;

			}
			h2 {
				font-size: 2.4em;
			}
		}


		@media (min-width:$screen-md){
			max-width: 700px;
			font-size: 1.2em;

			h2 {
				font-size: 2.4em;
				//max-width: 260px;
			}

			@media (min-width:$screen-lg){
				max-width: 800px;
				transition: 1s top;
				top: 59%;
				margin-left: 30%;

			}


			.idx-omnibar-price-container,.idx-omnibar-extra{
				//display:inline-block;
				//z-index: 1001;
			}
		}


		.idx-omnibar-mini,.idx-omnibar-form {
			margin-top: 0;
			padding:0;
			button, input {
				-webkit-appearance: none;
				-webkit-border-radius:0;
				border-radius:0;
				background: white;
				border: none;
			}
			button {
				background:#324b72;
				color: white;
				max-width: 120px;
			}
			input {
				@media (min-width:$screen-sm){

				}
			}
		} //.idx-omnibar-mini,.idx-omnibar-form
	} //.search-box
}
}//.buy
