.home {

		//background-image: url(../images/concrete_seamless.png);


	.main {
		background: white;
	}
    .navbar {
        margin-bottom: 0;
        //border-bottom: 15px solid rgb(195, 195, 195);
    }

    .main {
    padding: 0;
}

    .wrap {
       // max-width: 1600px;
        margin: 0 auto;
    }

	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		width: 100%;
	}

	.home-search {
		position: relative;

		.search-box {
			position: absolute;
			z-index: 1000;
			width: 100%;
			max-width: 260px;
			top: 90px;
			left:0;
			right:0;
			margin-left:auto;
			margin-right:auto;
			display: inline-block;
			@media (min-width:$screen-sm){
				max-width: 500px;
				top: 45%;
				margin-left: 25%;
				input {
				padding-left: 1em;

				}
			}
			@media (min-width:$screen-md){
				max-width: 800px;

				.idx-omnibar-price-container,.idx-omnibar-extra{
					//display:inline-block;
					z-index: 1001;
				}
			}

			h2 {
				font-size: 1.4em;
				background: rgba(255, 255, 255, 0.83);
				margin: 0;
				max-width: 220px;
				padding: 0.5em 1em;
				color: $brand-primary;
				text-transform: uppercase;

			}

			.idx-omnibar-mini,.idx-omnibar-form {
				margin-top: 0;
				padding:0;
			button, input {
				-webkit-appearance: none;
				-webkit-border-radius:0;
				border-radius:0;
				background: white;
				border: none;
			}
				button {
					background:#324b72;
					color: white;
					max-width: 120px;
				}
				input {
					@media (min-width:$screen-sm){

					}
				}
			} //.idx-omnibar-mini,.idx-omnibar-form
		} //.search-box
	}  //.home-search

	.featured-properties {
		background: grey;
		h3 {
			text-align: center;
			padding: 1em;
		}

		#IDX-showcaseGallery-30861 {
			.IDX-showcaseContainer {
			border: none;
			margin: 0;
			padding: 0;
			box-shadow: none;

		}

		.IDX-showcaseCell {
			background: white;
			padding: 0 !important;
		}
		}

	}




    // ------ Carousel Transition Style - - - - - - - - - -

    .carousel.fade {
        opacity: 1;

        .item {
            -moz-transition: opacity ease-in-out .7s;
            -o-transition: opacity ease-in-out .7s;
            -webkit-transition: opacity ease-in-out .7s;
            transition: opacity ease-in-out .7s;
            left: 0 !important;
            opacity: 0;
            top:0;
            position:absolute;
            width: 100%;
            display:block !important;
            z-index:1;
            &:first-child{
                top:auto;
                position:relative;
            }

            &.active {
                opacity: 1;
                -moz-transition: opacity ease-in-out .7s;
                -o-transition: opacity ease-in-out .7s;
                -webkit-transition: opacity ease-in-out .7s;
                transition: opacity ease-in-out .7s;
                z-index:2;
            }
        }
    } // <--End Carousel Transition Style - - - - - - - - - -

  .slider-nav {
	  a {

		  display: inline-block;
		  background:rgba($brand-primary, .85);
		  transition: background 1s;
		  @media (max-width:$screen-xs){
			  font-size: 1.6em;
			  text-align: center;
			  padding: 0.5em;
			  margin-bottom: 0.5em;
			  color: white;
			  padding-left: 30px;


		  }

	  }
	  @media (max-width:$screen-xs){

		  border-top: 10px solid rgb(195, 195, 195);
		  border-bottom: 10px solid rgb(195, 195, 195);
	  }

        @media (min-width:$screen-sm){
        position: absolute;

        bottom: 0px;
        left: 50%;
        z-index: 1060;
        margin-left: -380px;
            @media (min-width:$screen-md){
                margin-left: -450px;
            }
            @media (min-width:$screen-lg){
                left: 42%;
                margin-left: -430px;
            }

            li {
                margin: 0 14px;

            a {
					padding: 20px;
					background:rgba($brand-primary, .85);
					color: white;
                &:hover {
                    transition: background 1s;
                    background:rgba($brand-success, .85);
                }
                color: white;
                padding: 20px;
                @media (min-width:$screen-md){
                   font-size: 1.3em;
                }
                    @media (min-width:$screen-lg){
                        font-size: 1.4em;
                        letter-spacing: 0.1em;
                    }
            }
            }
        }

    } // - - - </.slider-nav>

    // News Feed





	.hero-quote {
		h2{
			//color: $brand-primary;
			text-align: center;
			font-size: 2.6em;
			padding-top: 1.5em;
			@media (min-width:$screen-md){
				font-size: 3.6em;
			}
}
		p {
				font-family: $font-family-serif;
				font-size: 1.8em;
				text-align: center;
			span {
				font-family: $font-family-sans-serif;
				font-size: 0.8em;
			}
				@media (min-width:$screen-md){
					font-size: 2.6em;
					font-weight: 200;
				}
			}

		}

	.discription{
		font-size: 1.4em;
		line-height: 2.0em;
		p{
			//font-family: $font-family-sans-serif;
			font-weight: 200;
		}
	}

} // - - </.home>


