.home {

		//background-image: url(../images/concrete_seamless.png);


	.main {
		background: white;
	}
    .navbar {
        margin-bottom: 0;
        //border-bottom: 15px solid rgb(195, 195, 195);
    }

    .main {
    padding: 0;
}

    .wrap {
        max-width: 1600px;
        margin: 0 auto;
    }

	.home-search {
		position: relative;
		.search-box {
			position: absolute;
			z-index: 1000;
			top: 50px;
			left: 25%;
			.idx-omnibar-mini {
			button, input {
				-webkit-appearance: none;
				-webkit-border-radius:0;
				border-radius:0;
				background: white;
				border: none;
			}
				button {
					background:#324b72;
					color: white;
				}
			}
		}
	}



    // ------ Carousel Transition Style - - - - - - - - - -

    .carousel.fade {
        opacity: 1;

        .item {
            -moz-transition: opacity ease-in-out .7s;
            -o-transition: opacity ease-in-out .7s;
            -webkit-transition: opacity ease-in-out .7s;
            transition: opacity ease-in-out .7s;
            left: 0 !important;
            opacity: 0;
            top:0;
            position:absolute;
            width: 100%;
            display:block !important;
            z-index:1;
            &:first-child{
                top:auto;
                position:relative;
            }

            &.active {
                opacity: 1;
                -moz-transition: opacity ease-in-out .7s;
                -o-transition: opacity ease-in-out .7s;
                -webkit-transition: opacity ease-in-out .7s;
                transition: opacity ease-in-out .7s;
                z-index:2;
            }
        }
    } // <--End Carousel Transition Style - - - - - - - - - -

  .slider-nav {
	  a {

		  display: inline-block;
		  background:rgba($brand-primary, .85);
		  transition: background 1s;
		  @media (max-width:$screen-xs){
			  font-size: 1.6em;
			  text-align: center;
			  padding: 0.5em;
			  margin-bottom: 0.5em;
			  color: white;
			  padding-left: 30px;


		  }

	  }
	  @media (max-width:$screen-xs){

		  border-top: 10px solid rgb(195, 195, 195);
		  border-bottom: 10px solid rgb(195, 195, 195);
	  }

        @media (min-width:$screen-sm){
        position: absolute;

        bottom: 0px;
        left: 50%;
        z-index: 1060;
        margin-left: -380px;
            @media (min-width:$screen-md){
                margin-left: -450px;
            }
            @media (min-width:$screen-lg){
                left: 42%;
                margin-left: -430px;
            }

            li {
                margin: 0 14px;

            a {
					padding: 20px;
					background:rgba($brand-primary, .85);
					color: white;
                &:hover {
                    transition: background 1s;
                    background:rgba($brand-success, .85);
                }
                color: white;
                padding: 20px;
                @media (min-width:$screen-md){
                   font-size: 1.3em;
                }
                    @media (min-width:$screen-lg){
                        font-size: 1.4em;
                        letter-spacing: 0.1em;
                    }
            }
            }
        }

    } // - - - </.slider-nav>

    // News Feed





	.hero-quote {
		h2{
			//color: $brand-primary;
			text-align: center;
			font-size: 2.6em;
			padding-top: 1.5em;
			@media (min-width:$screen-md){
				font-size: 3.6em;
			}
}
		p {
				font-family: $font-family-serif;
				font-size: 1.8em;
				text-align: center;
			span {
				font-family: $font-family-sans-serif;
				font-size: 0.8em;
			}
				@media (min-width:$screen-md){
					font-size: 2.6em;
					font-weight: 200;
				}
			}

		}

	.discription{
		font-size: 1.4em;
		line-height: 2.0em;
		p{
			//font-family: $font-family-sans-serif;
			font-weight: 200;
		}
	}

} // - - </.home>


